* {
    padding: 0;
    margin: 0;
}

body {}

header {
    background-color: #B490FF;
    color: #f7f2f2;
    padding: 10px 0;
    text-align: center;

}

nav ul li {
    display: inline;
    margin-right: 10px;

}

nav ul li {
    display: inline;
    margin-right: 100px;

}

img {
    width: 200px; /* Define a largura */
    height: auto;/* Mantém a proporção da imagem */
    border: 2px solid #0a0a0a; /* Adiciona uma borda */
    border-radius: 10px; /* Arredonda os cantos */

    box-shadow: 5px 5px 15px rgba(10, 10, 10, 0.3);/* Adiciona uma sombra */
}


main {
    /*texto1*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #0c0c0c;
    padding: 10px;
    width: 10%;
    height: 100%;
}

main {
    /*texto2*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #0f0f0f;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.flex-content {
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    background-color: #e9dfff;
    width: 50%;
    height: 50%;
    padding: 0%;
    padding-top: 10%;

}

.circulo {
    background-color: #AFB3FF;
    width: 20%;
    height: 40%;
    border-radius: 50%;
    position: absolute;
    left: 20%;
    bottom: 0;
}


form h2 {
    margin-top: 0;
    color: #f3f3f7;
    text-align: center;
    width: max-content
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;

}

input[type="text"],
input[type="email"],

textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #874FFF;
    border-radius: 25px;

}

input[type="submit"] {
    background-color: #ae8ff1;
    color: #fcf8f8;
    border-radius: 20%;
    margin-bottom: 300px;
    width: 50px;
    border: 10px;
}


.modal {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: start;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 8px;
    margin-top: 10%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(8, 8, 8);
    text-decoration: none;
    cursor: pointer;
}

footer {
    background-color: #0f0e0e;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}