body {
    margin: -0;
    padding: -0;
    display: flex; /* Usando flexbox para centralizar o conteúdo */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total da tela */
}

.cadastro {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

}
.container{
    width: 10%;  /* Largura 10% da tela */
}

h1 {
    top: 290px;
    position: static; /* Ou relative, se necessário */
    text-align: left;  /* Alinha o texto do h2 para a esquerda */
    margin-left: -1000px;
    margin-top: 50px;
    padding-left: 0;
   position: relative;
    font-family: 'Arial', sans-serif;  /* 'Arial' é a fonte preferida, 'sans-serif' é a de reserva */
  font-size: 70px;  /* Tamanho da fonte */
  color: #7b15f0;  /
}


   
    

img{
    margin-top: 10px;
    margin-left: 20px;
    position: absolute;
    top: 2%;
    left: 0;
    width: 90px;
    height: auto;
    display: flex;
    float: right;   
}

       
.cadastro-content {
    width: 50%;
    height: 50%;
    text-align: center; 
    justify-content: center;
    font-size: 30px;
}

/* Inicio do form */

.cadastro-form {
  
    margin-top: -90px;
    margin-left: -30px;
    position: absolute;
    top: 40%;
    left: 40%;
    align-items: center;
    width: 40%;
    height: 50%;
    padding: 5%;
    justify-content: center;
    background: linear-gradient(0deg, rgb(250, 248, 248) 0%, rgba(180, 144, 255, 1) 54%, rgb(151, 105, 250) 100%);
}

form {
    flex-direction: column;
    position: absolute;
    justify-content: center;
    display: flex;
    width: 90%;
    background-color: rgb(238, 238, 240);
    padding: 10%;
    position:relative;
    left: -27px;
}

.cadastrar {
    width: 160%;
    height: 60px;
    margin-left: 90px; /* Move o texto 10px para a direita */
    align-items: center;
    font-family: Arial, sans-serif; 
    font-size: 20px; /* Ajuste o tamanho da fonte */
    color: #000000; /* Cor do texto */
}


/* estilizando os imput */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #0c0c0c;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
}



button {
    padding: 0px 0px;
    top: 5%;
    background-color: #333232d6;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    width: 25%;
    height: 25px;  /* Define a altura do botão */
}

footer {
    width: 175%;
    padding: 80px 0;
    display: flex; /* Flexbox para centralizar conteúdo */
    justify-content: center; /* Centraliza horizontalmente */
    height: -0px;
    background: linear-gradient(0deg, rgb(245, 241, 241) 0%, rgba(180, 144, 255, 1) 54%, rgb(151, 105, 250) 100%);
    
}

/* Muda os estilos dos botões de cancelar e inscrever-se em telas extra pequenas */
@media screen and (max-width: 300px) {

    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}