* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* Este é o fundo do nosso desenho. Escolhemos a fonte (como a letra em um caderno) e pintamos o fundo de lilás claro! */
    font-family: Arial, sans-serif;
    background-color: #d5c2ff;
}


/* Este é o carrossel da página */

div.scroll-container {
    background-color: #fff;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 12;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(254, 253, 255, 0.822), 0 6px 20px 0 rgba(120, 33, 219, 0.19)
}

/*comentários do carrossel*/
.comment {
    width: auto;
    height: auto;
    margin: 10px;
    text-align: column;
    padding: 10px;
    box-shadow: 0 2px 5px #874fff(0, 0, 0, 0.1);

}

/* Isso é um botão para ir para o próximo. */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Quando passamos o mouse, o botão muda de cor! */
.prev:hover,
.next:hover {
    background-color: #9f5ee6(0, 0, 0, 0.8);
}

/* Indicadores (bolinhas abaixo do carrossel) */
.div-container {
    text-align: column;
    padding: 10px;
    background: #ddd;

}

/* Cada bolinha do carrossel. */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #874fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* A bolinha muda de cor quando clicamos ou passamos o mouse. */
.active,
.dot:hover {
    background-color: #9480a7;
}

/* Aqui é o topo da página, onde ficam coisas como o título. */
header {
    background-color: #ffffff;
    color: #f7f2f2;
    padding: 10px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/* Links do menu. */
nav ul li {
    display: inline;
    margin-right: 10px;

}

main {

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #0e0d0d;
    padding: 10px;
    width: 100%;
    height: 100%;
}

/* Um quadrado centralizado, bem bonito. */
.flex-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    border: 1px solid #ccc;
    /* Apenas para visualização */
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(135deg, #d8bfe5, #a78ac8);
    border-radius: 5px;
}


.info-content {
    max-height: 10%;
}

.info-content img {
    max-width: 250px;
    max-height: 300px;
    position: relative;
    top: -110;
    box-shadow: 0 4px 8px 0 rgba(224, 222, 226, 0.822), 0 6px 20px 0 rgba(226, 225, 228, 0.19)
}

form h2 {
    margin-top: 0;
    color: #121213;
    width: max-content;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="text"],
input[type="email"],
textarea {
    width: 80%;
    height: 30px;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #9f5ee6;
    border-radius: 5px;

}

/*botão enviar*/

input[type="submit"] {
    padding: 0px 0px;
    background-color: #874fff;
    color: #fcf8f8;
    border: none;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
    font-size: 16px;
    width: 30%;
    height: 25px;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    ;
}

/*alerta de preenchimento*/
.modal {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: start;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #d4d3d4(0, 0, 0);
    background-color: #edebf0(0, 0, 0, 0.4);
}

/* Esta é a caixinha dentro da janelinha mágica. */
.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #d6d6d6;
    width: 30%;
    border-radius: 8px;
    margin-top: 10%;
}

/* Esse é o botão de fechar, aquele "X" no canto. */
.close {
    color: #b976ff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Quando passamos o mouse em cima ou clicamos, ele muda de cor! */
.close:hover,
.close:focus {
    color: #9f5ee6(8, 8, 8);
    text-decoration: none;
    cursor: pointer;
}

footer {
    background-color: #fff;
    color: #754992;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0px;
}



.container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex: 1 1 300px;
    /* Flexível com largura mínima de 300px */
}



@media (max-width: 480px) {

    .flex-content {
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    main {
        height: auto;
    }

    .info-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5%;

    }


    .info-content img {
        width: 80%;
        top: 5px;
        height: 250px;
    }

    form {
        width: 80%;
        position: columns;

    }

    input[type="submit"] {
        margin-top: 20px;
        flex-direction: column;
    }

    form h2 {
        margin-top: 0px;
        color: #f3f3f7;
        text-align: column;
        width: max-content;

    }

    footer {
        position: fixed;
    }

}