* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, #fdfaff 0%, #b490ff 54%, rgba(135, 79, 255, 1) 100%);
    width: 100%;
    height: 80px;
}

.hamburger {
    display: none; /* Oculto em telas maiores */
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 30px;
    height: 3px;
    background: #333;
    margin: 4px;
    transition: all 0.3s;
}

.logo img {
    width: 80px;
}

.titulo {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 200px;
}

nav ul li a:hover {
    color: #8c00ff;
}

.auth-buttons {
    display: flex;

}

.auth-buttons a {
    text-decoration: none;
    margin-left: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.login {
    color: #333;
}

.demo {
    background-color: #f3f4f6;
    color: #333;
}

#lista-avaliacoes {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.signup {
    color: white;
    background-color: #8c00ff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.app {
    height: 30px;
    justify-content: space-around;
}

footer {
    background-color: #9480a7;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Menu hamburguinho em telas menores */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }


    nav{
        display: none;
    }
    nav ul li {
        margin: 10px 0; /* Espaçamento entre os itens */
        width: 100%; /* Ocupa toda a largura do menu */
        text-align: left; /* Alinha o texto à esquerda */
    }

    nav ul li a {
        display: block; /* Garante que o link ocupe toda a área do item */
        padding: 10px 10px; /* Espaçamento interno para facilitar o toque */
        font-size: 1.2em; /* Aumenta o tamanho da fonte */
        font-weight: bold;
        color: #333; /* Cor do texto */
        text-decoration: none;
        background-color: #b06fdb4e; /* Fundo claro para os itens */

        transition: background-color 0.3s ease, color 0.3s ease;
    }

    nav ul li a:hover {
        background-color: #b490ff; /* Cor de fundo ao passar o mouse */
        color: #fff; /* Cor do texto ao passar o mouse */
    }

    /* Adiciona um efeito de sombra para destacar os itens */
    nav ul li {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    nav ul {
        position: absolute;
        top: 80px; /* Altura do header */
        right: 0;
        width: 200px;
        height: 100vh;
        background-color: #f8f5ff;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 20px;
        transform: translateX(100%); /* Esconde o menu fora da tela */
        transition: transform 0.3s ease;
        overflow: hidden;
        z-index: 1000; /* Assegura que o menu está acima de outros elementos */
    }

    /* Exibe o menu quando a classe 'show' está ativa */
    nav ul.show{
        transform: translateX(0);
    }

    footer {
        font-size: 15px;
        height: 125px;
        justify-content: flex-start;
        flex-direction: column;
        margin-bottom: 0;
    }

    .auth-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
}