* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.cadastro {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

h2 {
    text-align: center;
    font-family: "Moderustic", sans-serif;
    /* 'Arial' é a fonte preferida, 'sans-serif' é a de reserva */
    font-size: 22px;
    /* Tamanho da fonte */
    color: #4a4a4b;
}


.cadastro-content {
    width: 50%;
    height: 50%;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 15%;
}
.cadastro-content h1 {
    font-size: 50px;
}

.cadastro-content img {
    width: 50%;
}

.cadastro-form {
    margin-top: -70px; /* Faz o formulário subir 50px */
    justify-content: center;
    width: 30%;
    padding: 5%;
    border-radius: 8px;
    background: rgba(167, 101, 236, 0.8);
    /* Adicionado efeito de transparência */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    /* Adicionado uma leve sombra para destaque */
}


.cadastro-form h1 {
    text-align: center;
    color: #222124;
    font-size: 20px;
}

form {
    
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    height: 90%;
    width: 97%;
    background-color: rgba(255, 255, 255, 0.9);
    /* Transparência no fundo do formulário */
    padding: 10%;
}

.input-icone {
    position: relative;
    display: inline-block;
}

.input-icone input {
    padding-left: 30px;

}

/* Estilo dos campos de entrada */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    /* Deixa o campo ocupar a largura total do formulário */
    height: 45px;
    /* Aumenta a altura dos campos */
    font-size: 18px;
    /* Aumenta o tamanho da fonte */
    padding: 10px 10px 10px 40px;
    /* Espaço para o ícone */
    margin: 8px 0;
    border: 2px solid #777575;
    border-radius: 5px;
    box-sizing: border-box;
    /* Inclui padding na largura */
}




.input-icone i {
    position: absolute;
    ;
    vertical-align: middle;
    /* Garante que o ícone fique alinhado com o texto */
    position: absolute;
    left: 5px;
    font-size: 25px;
    /* Posição do ícone */
    top: 50%;
    transform: translateY(-50%);
    /* Centraliza verticalmente */
    color: #4b4949;
    /* Cor do ícone */
}

button {
    margin: 0 auto;
    padding: 0px 0px;
    background-color: #202020d0;
    color: rgb(238, 232, 232);
    width: 110px;
    height: 30px;
    margin-top: 20px;
    /* Adiciona um espaço acima do botão */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* Estilo para a régua horizontal */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 56px;
        margin-bottom: 10%;
    }

    .cadastro {
        width: 100%;
        flex-direction: column;
    }

    .form-container {
        padding: 15px;
        /* Menos padding para telas pequenas */
    }

    .cadastro-form {
        width: 90%;
    }

    .cadastro-content {
        width: 100%;

    }

    footer {
        font-size: 15px;
        height: 125px;
        justify-content: flex-start;
        flex-direction: column;
        margin-bottom: 0;
    }
}