*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(180,144,255,1) 54%, rgba(135,79,255,1) 100%);
    width: 100%;
    height: 80px;
}

.logo img {
    width: 80px;
}

h1{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 70px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 200;
}

nav ul li a:hover {
    color: #8c00ff;
}

.auth-buttons {
    display: flex;

}

.auth-buttons a {
    text-decoration: none;
    margin-left: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.login {
    color: #333;
}

.demo {
    background-color: #f3f4f6;
    color: #333;
}

.signup {
    color: white;
}

.app {
    height: 30px;
    justify-content: space-around;
}

footer {
    background-color: rgba(180,144,255,1);
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

