* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.cadastro {
    width: 60%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;

}

.cadastro-content {
    width: 75%;
    height: 90%;
    justify-content: center;
    background: rgb(244, 241, 241);
    background: linear-gradient(0deg, rgb(245, 241, 241) 0%, rgba(180, 144, 255, 1) 54%, rgb(151, 105, 250) 100%);
}


.cadastro-form {
    font-size: 20px;
    padding-top: 70;
    display: flex;
    flex-direction: column;
}

.cadastro-content {
    font-size: 30px;
    padding-top: 20;
    grid-area: title;
    text-align: center;

}

.cadastrar {
    width: 160%;
    height: 60px;
    font-family: Arial, sans-serif; 
    justify-content: center;
    font-size: 20px; /* Ajuste o tamanho da fonte */
    color: #000000; /* Cor do texto */
}

footer {
    width: 100%;
    height: 100px;
    justify-content: center;
    background: linear-gradient(0deg, rgb(245, 241, 241) 0%, rgba(180, 144, 255, 1) 54%, rgba(135, 79, 255, 1) 100%);
}

.input-icone {
    position: relative;
    display: inline-block;
}

.input-icone input {
    padding-left: 35px;
    
}


.input-icone i {
    position: absolute;
    left: 5px;
    font-size: 20px; 
    /* Posição do ícone */
    top: 50%;
    transform: translateY(-50%);
    /* Centraliza verticalmente */
    color: #4b4949;
    /* Cor do ícone */
}

button {
    
    padding: 0px 0px;
    background-color: #b98ff0d0;
    color: rgb(37, 37, 37);
    width: 100px; 
    height: 30px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


/* Conteúdo/Caixa do Modal */
.body {
    font-size: 16px;
}

img.icone {
    width: 120%;
    height: 30px;
}



/* Estilo para a régua horizontal */
@media (max-width: 100px) {

    body {
        font-size: 10px;

    }

    /* ajustes adicionais */

}

img {
    max-width: 70px;
    height: 50px;
}