* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cadastro {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

h1 {
    font-family: "Moderustic", sans-serif;
    /* 'Arial' é a fonte preferida, 'sans-serif' é a de reserva */
    font-size: 70px;
    /* Tamanho da fonte */
    color: #b976ff;

}

.cadastro-content {
    width: 45%;
    height: 50%;
    text-align: center;
    justify-content: center;
    font-size: 30px;
}

.cadastro-form {
    margin-top: 35px;
    justify-content: center;
    width: 30%;
    padding: 5%;
    border-radius: 8px;
    background: rgba(167, 101, 236, 0.8); /* Adicionado efeito de transparência */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Adicionado uma leve sombra para destaque */
}

.cadastro-form h1{
    color: #323133;
    font-size: 25px;
   text-align: center;
}
img{
    width: 55%;
   
}

form {
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    height: 90%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* Transparência no fundo do formulário */
    padding: 10%;
}

/* estilizando os imput */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #6d6b6b;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 0px 0px;
    top: 5%;
    background-color: #201e1ed6;
    margin-top: 15px;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    width: 35%;
    height: 25px;
   
}

/* Estilo específico para o link "Cadastrar-se" */
.btn-cadastrar {
    font-size: 20px;
    text-align: left;
    /* Alinha o conteúdo à esquerda */
    width: 100%;
    /* Garante que o contêiner ocupe toda a largura */
    color: #8350e2;

    /* Alinha o conteúdo à direita */
    margin-left: 5px;
    /* Mover o texto um pouco para a direita, se necessário */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}


@media screen and (max-width: 768px) {
    h1{
        font-size: 56px;
        margin-bottom: 10%;
    }
    .cadastro {
        width: 100%;
        flex-direction: column;
    }

    .form-container {
        padding: 15px;
        /* Menos padding para telas pequenas */
    }

    .cadastro-form {
        width: 90%;
    }

    .cadastro-content {
        width: 100%;

    }

    footer {
        position: relative;
       
        
        width: 90%;
    }
}