* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;

body {
    width: 100%;
    height: 100%;
    background-color:rgb(255, 255, 255)

}

.primeira {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.primeira video{
    width: 80%;
}
.text-banner1{
    width: 80%;
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;

}

.img-1 {
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

.img-1 img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(221, 44, 177, 0.822), 0 6px 20px 0 rgba(120, 33, 219, 0.19)}

    
}

.text-1 {
    width: 30%;
    padding: 2%;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    box-shadow: 0 10px 8px 0 rgba(62, 10, 75, 0.822), 0 6px 20px 0 rgba(120, 33, 219, 0.19)
}
    

.img-1 {
    width: 30%;
    height: 40vh;
}

.img-1 img {
    width: 100%;
    height: 100%;
   
}

.text-1 {
    width: 40%;
    background-color: rgb(235, 235, 235);
    margin-top: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img-1 {
    width: 40%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-1 img {
    width: 100%;
    height: 100%;
 
}

.text-1 {
    width: 30%;
    padding: 1%
    font-family}
    

/*img-banner2*/
.img-banner2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-bottom: 5%;
    background-color: rgb(230, 175, 241);
    background-image: linear-gradient( to right, rgb(208, 101, 230), rgb(156, 71, 196), rgb(107, 33, 168), rgb(156, 16, 184) )
}

/* Container do card - será o responsável por controlar a perspectiva da rotação 3D */
.card-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(185, 118, 255);
    border-radius: 10px; /* Bordas arredondadas para o efeito */
    padding: 2%;
    position: relative;
    width: 200px; /* Definindo largura fixa */
    height: 200px; /* Definindo altura fixa */
    box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.5);
    transform-style: preserve-3d; /* Permite a rotação em 3D */
    transition: transform 0.6s; /* Adiciona uma transição suave ao virar */
    perspective: 1000px; /* Cria a percepção de profundidade */
}

/* Quando passar o mouse, o card vira 180 graus */
.card-img:hover {
    transform: rotateY(180deg); /* Aplica a rotação de 180 graus no eixo Y */
}

/* Estilo da frente do card (imagem) */
.card-img .front {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Garante que a parte de trás do card não seja visível quando virar */
  
}

.front h3
{color: white;}


.card-img .front img {
    width: 80%;
    height: 80%;
    border-radius: 10px; /* Bordas arredondadas */

}

/* Estilo de trás do card (texto) */
.card-img .back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white; /* Fundo branco */
    color: black; /* Texto preto */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px; 
    backface-visibility: hidden; /* Esconde a parte da frente ao virar */
    transform: rotateY(180deg); /* Coloca a parte de trás virada para trás inicialmente */
   
}


}

.texto-sla {
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Quando o mouse passa sobre o card, o texto aparece */
.card-img:hover .texto-sla {
    opacity: 1;
}
.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    height: 70vh;
    margin-bottom: 5%;
    margin-top: 5%;
}
.sobre h1{
    position: absolute;
    top: 0;
    left: 5%;
    font-size: 50px;
   
}
.img-sobre1 {
    position: relative;
    background-color: darkgrey;
    width: 40%;
    height: 80%;
    left: 20%;
    bottom: 10%;
    border-radius: 5%;
    overflow: hidden;
}
.img-sobre1 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz a imagem preencher a div sem distorções */
    border-radius: 0%; /* Aplica bordas arredondadas à imagem */
    left: auto;
}



.txt-sobre {
    position: absolute;
    left: 15%;
    padding: 1%;
    width: 20%;
    background-color: rgba(159, 94, 230, 0.6); /* Cor #9f5ee6 com 50% de transparência */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);  /* Sombras suaves para dar destaque */
    margin: 20px; /* Margem ao redor */
    border-radius: 10px; /* Bordas arredondadas */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.txt-sobre div {
    padding: 5px;  /* Espaçamento interno */
    background-color: rgba(159, 94, 230, 0.6); /* Fundo transparente com cor #9f5ee6 e 50% de opacidade */
}

.txt-sobre p {
    color: rgb(255, 255, 255);  /* Cor do texto, pode ser qualquer cor que você preferir */
    font-size: 1.1em;
    line-height: 1.5;
}
.txt-sobre-mobile {
    display: none;
    margin-bottom: 5%;
    padding: 5px;  /* Espaçamento interno */
    background-color: rgba(159, 94, 230, 0.6); /* Fundo transparente com cor #9f5ee6 e 50% de opacidade */
}

.txt-sobre-mobile p {
    color: black;  /* Cor do texto, pode ser qualquer cor que você preferir */
    font-size: 1.1em;
    line-height: 1.5;
}

.img-sobre2{
    width: 20%;
    position: absolute;
    left: 20%;
}

.img-sobre2 img{
    width: 100%;
    border-radius: 50%;
}

.img-sobre3{
    width: 17%;
    position: absolute;
    bottom: 0;
    height: auto;
}

.img-sobre3 img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
@media only screen and (max-width: 768px) {
    /* Ajustes para tablets e dispositivos com telas médias */
    .primeira, .section-container {
        width: 100%;
        padding: 10px;
    }
    
    .text-1, .img-1 {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
    
    .img-banner2 {
        flex-direction: column; /* Alinha as imagens verticalmente em telas pequenas */
    }
    
    .card-img {
        width: 100%;
        max-width: 180px;
    }

    .sobre h1 {
        font-size: 35px; /* Reduz o tamanho do título */
    }

    .img-sobre1, .txt-sobre {
        width: 100%; /* Faz a imagem e o texto ocupar toda a largura */
        position: 1%;
    }
    
    .img-sobre2, .img-sobre3 {
        width: 100%;
        height: auto;
    }
}
@media only screen and (max-width: 480px) {
    /* Ajustes para telas menores como celulares */
    .sobre{
        margin-top: 20%;
    }
    .img-sobre1{
        border-radius: 0;
    }
    .text-1 {
        width: 90%; /* Reduz a largura do texto */
        padding: 6%;
    }
    .img-1{
        width: 90%;
    }
    .img-1 img {
        width: 100%; /* Garante que a imagem ocupe toda a largura disponível */
    }

    .primeira video{
        width: 100%; 
    }
    .section-container {
        flex-direction: column;
    }

    .section-mobile{
        flex-direction: column-reverse !important;
    }
    .img-banner2 {
        gap: 20px;
    }

    .img-sobre2{
        width: 50%;
        right: 0;

    }
    .img-sobre3{
        width: 60%;
        left: 0;

    }
    .txt-sobre{
        display: none;
    }
    .txt-sobre-mobile{
        display: block;
        padding: 6%;
    }
    


}
